<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.cse.powercloud.mapper.sysmanage.BizElectricitySubstationMapper">
  <resultMap id="BaseResultMap" type="com.neu.cse.powercloud.pojo.sysmanage.BizElectricitySubstation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="subStationName" jdbcType="VARCHAR" property="substationname" />
    <result column="companyID" jdbcType="INTEGER" property="companyid" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="longitude" jdbcType="VARCHAR" property="longitude" />
    <result column="latitude" jdbcType="VARCHAR" property="latitude" />
    <result column="powerType" jdbcType="VARCHAR" property="powertype" />
    <result column="voltageClass" jdbcType="VARCHAR" property="voltageclass" />
    <result column="total" jdbcType="INTEGER" property="total" />
    <result column="ConstructionUnit" jdbcType="VARCHAR" property="constructionunit" />
    <result column="ConstructionTime" jdbcType="DATE" property="constructiontime" />
    <result column="inVoltage" jdbcType="VARCHAR" property="involtage" />
    <result column="outVoltage" jdbcType="VARCHAR" property="outvoltage" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, subStationName, companyID, address, longitude, latitude, powerType, voltageClass, 
    total, ConstructionUnit, ConstructionTime, inVoltage, outVoltage, pic, status
  </sql>
  <select id="selectByExample" parameterType="com.neu.cse.powercloud.pojo.sysmanage.BizElectricitySubstationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from biz_electricity_substation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from biz_electricity_substation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from biz_electricity_substation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.neu.cse.powercloud.pojo.sysmanage.BizElectricitySubstationExample">
    delete from biz_electricity_substation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.neu.cse.powercloud.pojo.sysmanage.BizElectricitySubstation">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into biz_electricity_substation (subStationName, companyID, address, 
      longitude, latitude, powerType, 
      voltageClass, total, ConstructionUnit, 
      ConstructionTime, inVoltage, outVoltage, 
      pic, status)
    values (#{substationname,jdbcType=VARCHAR}, #{companyid,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, 
      #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}, #{powertype,jdbcType=VARCHAR}, 
      #{voltageclass,jdbcType=VARCHAR}, #{total,jdbcType=INTEGER}, #{constructionunit,jdbcType=VARCHAR}, 
      #{constructiontime,jdbcType=DATE}, #{involtage,jdbcType=VARCHAR}, #{outvoltage,jdbcType=VARCHAR}, 
      #{pic,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.neu.cse.powercloud.pojo.sysmanage.BizElectricitySubstation">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into biz_electricity_substation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="substationname != null">
        subStationName,
      </if>
      <if test="companyid != null">
        companyID,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="powertype != null">
        powerType,
      </if>
      <if test="voltageclass != null">
        voltageClass,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="constructionunit != null">
        ConstructionUnit,
      </if>
      <if test="constructiontime != null">
        ConstructionTime,
      </if>
      <if test="involtage != null">
        inVoltage,
      </if>
      <if test="outvoltage != null">
        outVoltage,
      </if>
      <if test="pic != null">
        pic,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="substationname != null">
        #{substationname,jdbcType=VARCHAR},
      </if>
      <if test="companyid != null">
        #{companyid,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="powertype != null">
        #{powertype,jdbcType=VARCHAR},
      </if>
      <if test="voltageclass != null">
        #{voltageclass,jdbcType=VARCHAR},
      </if>
      <if test="total != null">
        #{total,jdbcType=INTEGER},
      </if>
      <if test="constructionunit != null">
        #{constructionunit,jdbcType=VARCHAR},
      </if>
      <if test="constructiontime != null">
        #{constructiontime,jdbcType=DATE},
      </if>
      <if test="involtage != null">
        #{involtage,jdbcType=VARCHAR},
      </if>
      <if test="outvoltage != null">
        #{outvoltage,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neu.cse.powercloud.pojo.sysmanage.BizElectricitySubstationExample" resultType="java.lang.Long">
    select count(*) from biz_electricity_substation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update biz_electricity_substation
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.substationname != null">
        subStationName = #{record.substationname,jdbcType=VARCHAR},
      </if>
      <if test="record.companyid != null">
        companyID = #{record.companyid,jdbcType=INTEGER},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.longitude != null">
        longitude = #{record.longitude,jdbcType=VARCHAR},
      </if>
      <if test="record.latitude != null">
        latitude = #{record.latitude,jdbcType=VARCHAR},
      </if>
      <if test="record.powertype != null">
        powerType = #{record.powertype,jdbcType=VARCHAR},
      </if>
      <if test="record.voltageclass != null">
        voltageClass = #{record.voltageclass,jdbcType=VARCHAR},
      </if>
      <if test="record.total != null">
        total = #{record.total,jdbcType=INTEGER},
      </if>
      <if test="record.constructionunit != null">
        ConstructionUnit = #{record.constructionunit,jdbcType=VARCHAR},
      </if>
      <if test="record.constructiontime != null">
        ConstructionTime = #{record.constructiontime,jdbcType=DATE},
      </if>
      <if test="record.involtage != null">
        inVoltage = #{record.involtage,jdbcType=VARCHAR},
      </if>
      <if test="record.outvoltage != null">
        outVoltage = #{record.outvoltage,jdbcType=VARCHAR},
      </if>
      <if test="record.pic != null">
        pic = #{record.pic,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update biz_electricity_substation
    set id = #{record.id,jdbcType=INTEGER},
      subStationName = #{record.substationname,jdbcType=VARCHAR},
      companyID = #{record.companyid,jdbcType=INTEGER},
      address = #{record.address,jdbcType=VARCHAR},
      longitude = #{record.longitude,jdbcType=VARCHAR},
      latitude = #{record.latitude,jdbcType=VARCHAR},
      powerType = #{record.powertype,jdbcType=VARCHAR},
      voltageClass = #{record.voltageclass,jdbcType=VARCHAR},
      total = #{record.total,jdbcType=INTEGER},
      ConstructionUnit = #{record.constructionunit,jdbcType=VARCHAR},
      ConstructionTime = #{record.constructiontime,jdbcType=DATE},
      inVoltage = #{record.involtage,jdbcType=VARCHAR},
      outVoltage = #{record.outvoltage,jdbcType=VARCHAR},
      pic = #{record.pic,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neu.cse.powercloud.pojo.sysmanage.BizElectricitySubstation">
    update biz_electricity_substation
    <set>
      <if test="substationname != null">
        subStationName = #{substationname,jdbcType=VARCHAR},
      </if>
      <if test="companyid != null">
        companyID = #{companyid,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="powertype != null">
        powerType = #{powertype,jdbcType=VARCHAR},
      </if>
      <if test="voltageclass != null">
        voltageClass = #{voltageclass,jdbcType=VARCHAR},
      </if>
      <if test="total != null">
        total = #{total,jdbcType=INTEGER},
      </if>
      <if test="constructionunit != null">
        ConstructionUnit = #{constructionunit,jdbcType=VARCHAR},
      </if>
      <if test="constructiontime != null">
        ConstructionTime = #{constructiontime,jdbcType=DATE},
      </if>
      <if test="involtage != null">
        inVoltage = #{involtage,jdbcType=VARCHAR},
      </if>
      <if test="outvoltage != null">
        outVoltage = #{outvoltage,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neu.cse.powercloud.pojo.sysmanage.BizElectricitySubstation">
    update biz_electricity_substation
    set subStationName = #{substationname,jdbcType=VARCHAR},
      companyID = #{companyid,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      powerType = #{powertype,jdbcType=VARCHAR},
      voltageClass = #{voltageclass,jdbcType=VARCHAR},
      total = #{total,jdbcType=INTEGER},
      ConstructionUnit = #{constructionunit,jdbcType=VARCHAR},
      ConstructionTime = #{constructiontime,jdbcType=DATE},
      inVoltage = #{involtage,jdbcType=VARCHAR},
      outVoltage = #{outvoltage,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>